<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>转换工具</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
<div id="app">
    <el-container>
        <el-aside>

        </el-aside>
        <el-main>
            <el-row>
                <el-radio-group v-model="radio">
                    <el-radio :label="1">列表转json</el-radio>
                    <el-radio :label="2">列表转java</el-radio>
                    <el-radio :label="3">json转java</el-radio>
                    <el-radio :label="4">json值拷贝</el-radio>
                </el-radio-group>
            </el-row>
            <el-row style="margin-top:10px">
                <el-col :span="20">
                    <el-input type="textarea" :rows="12" placeholder="请输入内容" v-model="in2">
                    </el-input>
                    <div style="height: 20px"></div>
                    <el-input type="textarea" :rows="12" placeholder="请输入内容（覆盖上文）" v-model="in3" v-if="radio==4">
                    </el-input>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="20" style="margin-top:10px">
                    <p> 点击文本复制：</p>
                    <pre @click='copy'>{{out}}</pre>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>

</body>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        computed: {
            out() {
                if (!this.in2) return '请正确输入'
                let res = ''
                switch (this.radio) {
                    case 1://list to json
                        var arr = this.in2.split(/\n|\s+|,/)
                        res = JSON.stringify(arr.reduce((t, cv, ci, arr) => {
                            if (cv) t[cv] = '';
                            return t
                        }, {}));
                        break;
                    case 2://list to java
                        // var arr = this.in2.split(/\n|\s+|,/)
                        var arr = this.in2.split(/\n/)
                        res = this.toJava(arr, true)
                        break;
                    case 3://json to java
                        try {
                            var arr = Object.keys(JSON.parse(this.in2))
                            res = this.toJava(arr, true)
                        } catch (error) {
                            this.$notify({
                                title: '提示',
                                message: '请正确输入json',
                                duration: 1000
                            });
                        }
                        break;
                    case 4:
                        res = this.cover()
                        break;
                }
                return res;
            }
        },
        data: function () {
            return {
                radio: 1,
                in2: `{
    "alipayPhoneNum": "velit cupidatat dolor",
    "allPrice": "quis qui culpa occaecat",
    "attachment": {
        "sit_80": "aliqua et est"
    },
    "description": "laborum in dolor",
    "distAccount": "est Lorem",
    "distName": "dolor amet officia",
    "goodsDamagePrice": "Lorem ut magna",
    "groupTypeId": "amet occaecat",
    "haveVerifiedCode": "sint",
    "isByRule": "consectetur velit tempor",
    "isEntrust": "commodo",
    "mailNo": "cupidatat nostrud veniam",
    "openAccount": "est ad",
    "openAccountNo": "nisi dolore",
    "payType": "aliqua cupidatat aute",
    "reasonFirst": "dolore dolor incididunt",
    "reasonSecond": "Duis",
    "webChatPhoneNum": "amet sint minim anim"
}
`,
                in3: '',
            }
        },
        methods: {
            cover() {
                let o2 = JSON.parse(this.in2);
                if (!this.in3) return ""
                let o3 = JSON.parse(this.in3);
                let keys = Object.keys(o2);
                let err = ''
                for (let key of keys) {
                    if (o3[key]) {
                        o2[key] = o3[key];
                    } else {
                        err += `o2[${key}]值为空;`
                    }
                }
                if (err) {
                    this.$notify({
                        title: '提示',
                        message: err,
                        duration: 2000
                    });
                }
                return JSON.stringify(o2)
            },
            toJava(arr, swagger) {
                return arr.reduce((t, cv, ci, arr) => {
                    if (cv) {
                        if (/\s+|,/.test(cv)) {
                            //多列
                            let split = cv.split(/\s+|,/);
                            //取0跟2
                            if (split && split[0] && split[1] && split[2]) {
                                t += `@ApiModelProperty(value="${split[2]}",required=false)\nprivate ${split[1]} ${split[0]};\n`;
                            }
                        } else {
                            //仅filed一列
                            t += `@ApiModelProperty(value="${cv}",required=false)\nprivate String ${cv};\n`;
                        }
                    }
                    return t
                }, '')
            },
            copy() {
                if (navigator.clipboard) {
                    navigator.clipboard.writeText(this.out)
                } else {
                    var aux = document.createElement("input");
                    aux.setAttribute("value", this.out);
                    document.body.appendChild(aux);
                    aux.select();
                    document.execCommand("copy");
                    document.body.removeChild(aux);
                }
                this.$notify({
                    title: '提示',
                    message: '已复制',
                    duration: 1000
                });
            }
        }
    })
</script>

</html>
